<mat-card>
  <mat-card-header>
    <mat-card-title>GYMBOX {{name}}</mat-card-title>
    <mat-card-subtitle>{{description}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://source.unsplash.com/1000x300/?gym" alt="Photo of a Gym">
  <mat-card-content>
    <app-icon-list>
      <app-icon-list-item [icon]="faLocationPin" [name]="name" description="City Center"></app-icon-list-item>
      <app-icon-list-item [icon]="faUser" name="Make you sweat core workout with Jessy"></app-icon-list-item>
      <app-icon-list-item [icon]="faClock" name="12:30 - 14:00"
                          description="(73 minutes remaining)"></app-icon-list-item>
    </app-icon-list>
    <mat-divider class="divider-with-margin"></mat-divider>
    <mat-card-actions align="end">
      <a mat-button routerLink="/book_gym"> Book gym</a>
    </mat-card-actions>
  </mat-card-content>

</mat-card>
