h2[mat-dialog-title] {
  margin-bottom: 0;
}
mat-list {
  padding: 0;
}
::ng-deep .mdc-list-item--with-leading-avatar .mdc-list-item__start, .mdc-list-item.mdc-list-item--with-two-lines .mdc-list-item__start {
  margin-left: 0;
}
