<mat-card>
  <div class="header">
  <div>
      <mat-card-title>{{date?.toRelativeCalendar({locale: "en"})?.toUpperCase() | titlecase}}</mat-card-title>
      <mat-card-subtitle>{{date?.toFormat('HH:mm')}} – {{date?.plus({minutes: 90})?.toFormat('HH:mm')}}</mat-card-subtitle>
  </div>

    <button *ngIf="ongoing" mat-raised-button class="start-button" color="primary"  routerLink="/room">
      START
    </button>
    <button *ngIf="!ongoing"  aria-label="Example icon-button with a bell icon" mat-icon-button
            class="edit-button" matTooltip="Change Reservation" routerLink="/book_gym">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <div class="course-details">
      <img class="course-image" ngSrc="https://source.unsplash.com/100x100/?workout" alt="Photo of a Workout" height="40" width="40">
      <div>
        <span class="course-title">{{course}}</span>
        with
        <span class="course-coach">{{coach}}</span>
      </div>
    </div>
    <app-icon-list>
      <app-icon-list-item [icon]="faLocationPin" [name]="name" description="City Center"></app-icon-list-item>
      <app-icon-list-item [icon]="faUser" name="You" description="& Max"></app-icon-list-item>
    </app-icon-list>
<!--    <mat-card-actions align="end">-->
<!--      <a *ngIf="ongoing" mat-button routerLink="/room"> START WORKOUT</a>-->
<!--      <a *ngIf="!ongoing" mat-button routerLink="/book_gym"> Change Reservation</a>-->
<!--    </mat-card-actions>-->
  </mat-card-content>

</mat-card>
