<div class="content_width_wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to GYMBOX!</mat-card-title>
      <mat-card-subtitle>Explore what's waiting for you:</mat-card-subtitle>
    </mat-card-header>
    <mat-stepper class="minimal_stepper" orientation="vertical">
      <mat-step completed="false" label="Private and Comfortable Workouts">
        <mat-card-content>
          <div class="cartoon_characters">
            <div>
              <p>Welcome to GYMBOX, the ultimate solution for those who want to workout in a private and comfortable
                environment.
              <p>
              <p>With our premium gym rental service, you can book your own private gym and workout anytime, anywhere -
                you decide.</p>
            </div>
            <img height="835" ngSrc="assets/female.jpg" width="448"/>
          </div>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions align="end">
          <button color="primary" mat-button matStepperNext>Next</button>
        </mat-card-actions>
      </mat-step>
      <mat-step completed="false" label="Personalized Workout Experience">
        <mat-card-content>
          <div class="cartoon_characters">
            <img height="822" ngSrc="assets/male.jpg" width="561"/>
            <div>
              <p>Say goodbye to crowded public gyms and long waiting times for equipment. At GYMBOX, you have access to
                state-of-the-art equipment, exclusive amenities, and a fully personalized workout experience. </p>
              <p>Whether you're a fitness enthusiast, a professional athlete, or just looking to stay healthy and fit,
                GYMBOX has everything you need to achieve your goals.</p>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button matStepperPrevious>Back</button>
          <button color="primary" mat-button matStepperNext>Next</button>
        </mat-card-actions>
      </mat-step>
      <mat-step completed="false" label="Join the GYMBOX Community">
        <mat-card-content>
          <div class="cartoon_characters">
            <div>
              <p>Browse local gyms, choose the one that suits your needs, and book instantly.
                Customize your workout with your own equipment, favorite music, and friends.</p>
              <p>Join the GYMBOX community today and experience the ultimate in privacy, convenience, and quality.
                Start your fitness journey on your own terms and become the best version of yourself with GYMBOX.</p>
            </div>
            <img height="774" ngSrc="assets/equipment.jpg" width="1024"/>
          </div>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button matStepperPrevious>Back</button>
          <button color="primary" mat-button routerLink="/register">Get Started</button>
        </mat-card-actions>
      </mat-step>
    </mat-stepper>
  </mat-card>

  <mat-card-actions align="end">
    <button mat-button routerLink="/register">Skip</button>
  </mat-card-actions>
  <!--  <mat-card>-->
  <!--    <mat-card-content>-->
  <!--      <div class="cartoon_characters">-->
  <!--        <div>-->
  <!--          <p>Welcome to GYMBOX, the ultimate solution for those who want to workout in a private and comfortable-->
  <!--            environment.-->
  <!--          <p>-->
  <!--          <p>With our premium gym rental service, you can book your own private gym and workout anytime, anywhere - you-->
  <!--            decide.</p>-->
  <!--        </div>-->
  <!--        <img ngSrc="assets/female.jpg" height="835" width="448"/>-->
  <!--      </div>-->

  <!--      <mat-divider></mat-divider>-->
  <!--    </mat-card-content>-->
  <!--    <mat-card-actions align="end">-->
  <!--      <button mat-button color="primary">-->
  <!--        Next-->
  <!--      </button>-->
  <!--    </mat-card-actions>-->
  <!--  </mat-card>-->


</div>
