<div class="content_width_wrapper">

<mat-card>
  <mat-card-content class="friends_code">
    <mat-card-title>Your exclusive Friends Code</mat-card-title>
    <code>4379-8348-1524</code>
    <div class="buttons">
      <button mat-stroked-button><mat-icon>assignment</mat-icon> Copy</button>
      <button mat-stroked-button (click)='share_friend_code()'><mat-icon>share</mat-icon> Share</button>
    </div>
    <p>Fortis is an “invite only community”. Share this unique link with a friend to enable them to join Fortis Studio.</p>
    <p>2 out of 3 invitations activated.</p>
  </mat-card-content>
</mat-card>
  <div class="title-with-btn">
    <h1>Friends</h1>
    <button mat-stroked-button><mat-icon>person_add</mat-icon> Add Friend</button>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let number of [1,2,3]">
      <img matListItemAvatar src="https://placecats.com/100/100/?portrait" alt="Profile Picture">
      <h3 matListItemTitle>David Wheaton</h3>
      <p matListItemLine>Last Training 3 days ago.</p>
    </mat-list-item>

  </mat-list>
</div>
