.example-profile-image {
  background-image: url("https://source.unsplash.com/500x500/?profile+photo+sport+portrait+adult");
  background-size: cover;
  height: 90px;
  width: 90px;
}
mat-card {
  margin-top: var(--min-content-wrap-margin);
}
mat-card-header {
  gap: var(--min-content-wrap-margin);
  flex-wrap: wrap;
  justify-content: center;
}
mat-card-header mat-card-title-group {
  flex-grow: 1;
  width: auto;
}
mat-card-header .exp_progress {
  display: flex;
  align-items: center;
  gap: calc(var(--min-content-wrap-margin) / 2);
  margin-right: calc(var(--min-content-wrap-margin) / 2);
  white-space: nowrap;
}
mat-card-subtitle {
  font-size: 1rem;
}

mat-card-title {
  font-size: 2.5rem;
}
.user_description{
  font-style: italic;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2.1rem;
}


.user-settings {
  display: flex;
  flex-direction: column;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

mat-form-field {
  width: 100%;
  margin-bottom: calc(var(--min-content-wrap-margin) / 2);
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.input-row mat-form-field:nth-child(1) {
  margin-right: var(--min-content-wrap-margin);
}

mat-divider.divider-with-margin {
  margin-top: var(--min-content-wrap-margin);
  margin-bottom: var(--min-content-wrap-margin);
}

.datepicker_suffix {
  vertical-align: bottom;
}

.form-field-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-field-layout [matSuffix] {
  flex-shrink: 0;
  height: 24px;
  width: 24px;
  padding: 12px;
}
.update-pw-button {
  margin-left: auto;
  display: block;
}
