mat-slide-toggle {
  display: block;
  margin-bottom: var(--min-content-wrap-margin);
}
.example-label-container {
  display: flex;
  justify-content: space-between;
  margin: var(--min-content-wrap-margin) 0;
}
.example-name-label  {
  font-weight: 650;
}
.example-value-label {
  font-weight: 600;
}

mat-slider {
  width: 100%;
  margin: 0;
}
