mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;

}
.profile-image-bg {
  background-image: url("https://placecats.com/500/500/?profile+photo+sport+portrait+adult");
  background-size: cover;
  vertical-align: middle;
}

.profile-image-bg:focus-visible {
  outline: 2px solid white;
}

#page_wrapper {
  /*width: calc(100% - 2rem);*/
  max-width: var(--max-content-width);
  margin: 0 auto;
  /*padding-bottom: var(--min-content-wrap-margin);*/
  /*height: calc(100% - var(--min-content-wrap-margin));*/
}
nav[mat-tab-nav-bar] {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 5;
}

/*mat-sidenav-container {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/
mat-sidenav-container {
  height: calc(100% - var(--top-toolbar-height) - var(--bot-toolbar-height));
}
mat-sidenav-content {
}
mat-sidenav.nav_side {
  width: 200px;
}
.nav_header {
  position: sticky;
  top: 0;
  z-index: 5;
  gap: var(--min-content-wrap-margin);
}
.title_link {
  color: inherit;
  text-decoration: inherit;

}
.nav-end, .nav-start {
  display: flex;
  gap: var(--min-content-wrap-margin);
}
.nav-mid {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-mid a {
  height: 100%;
  max-height: calc(100% - 2 * var(--min-content-wrap-margin) );
  display: flex;
  align-items: center;
}
.nav-mid a img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
