<div class="content_width_wrapper small">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>Create a new account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()"  >

        <mat-form-field class="full-width-form-input" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="registerForm.controls.email"> <!--placeholder="pat@example.com"-->
          <mat-error *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="registerForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-form-input" appearance="outline">
          <mat-label>Password</mat-label>
          <input  matInput  [formControl]="registerForm.controls.password" name="password" type="password">
          <mat-error *ngIf="registerForm.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-form-input" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input  matInput  [formControl]="registerForm.controls.confirmPassword" name="password" type="password">
<!--          <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('required')">-->
<!--            Confirm Password is <strong>required</strong>-->
<!--          </mat-error>-->
          <mat-error *ngIf="registerForm.hasError('mismatch')">
            Passwords <strong>do not match</strong>
          </mat-error>
        </mat-form-field>

<!--        TODO: Move Invite Code to separate screen. -->
        <mat-form-field class="full-width-form-input" appearance="outline">
          <mat-label>Invitation Code</mat-label>
          <input type="email" matInput [formControl]="registerForm.controls.inviteCode">
          <mat-error *ngIf="registerForm.controls.inviteCode.hasError('required')">
            You need to be invited to join Fortis.
          </mat-error>
        </mat-form-field>

        <div class="spreaded_buttons">
          <button color="primary" mat-raised-button  type="submit" [disabled]="!registerForm.valid">Register</button>
          <div>
            <a mat-button routerLink="/login" color="primary">Login to existing Account</a>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
