<div class="content_width_wrapper">
  <h1>Book Gym</h1>
  <mat-card>
    <mat-stepper
      #stepper
      class="example-stepper"
      [orientation]="(stepperOrientation | async)!">
      <mat-step [stepControl]="firstFormGroup" label="Time & Date">
        You have selected the following gym:
        <app-gym-card name="FORTIS BERLIN" description="Description"></app-gym-card>
        <p>This gym can be booked in the following time slots:</p>
        <div class="side-by-side-time-date-picker">
          <div class="date-picker">
            <mat-card class="demo-inline-calendar-card">
              <mat-calendar [(selected)]="selected_date"></mat-calendar>
            </mat-card>
            <p>Selected date: {{selected_date.setLocale('en').toLocaleString(DateTime.DATE_MED)}}
          </div>
          <div class="time-picker">
            The following slots are available {{selected_date.toRelativeCalendar({locale: "en"})}}:
            <mat-nav-list>
              <a mat-list-item (click)="stepper.next()">
                <span matListItemTitle>12:30 - 14:00</span>
                <span matLine>up to 90 minutes</span>
              </a>

              <a mat-list-item (click)="stepper.next()">
                <span matListItemTitle>14:15 - 15:45</span>
                <span matLine>up to 90 minutes</span>
              </a>

              <a mat-list-item (click)="stepper.next()">
                <span matListItemTitle>17:45 - 19:15</span>
                <span matLine>up to 90 minutes</span>
              </a>

              <a mat-list-item (click)="stepper.next()">
                <span matListItemTitle>19:30 - 20:30</span>
                <span matLine>up to 60 minutes</span>
              </a>
            </mat-nav-list>

          </div>
        </div>
<!--        <form [formGroup]="firstFormGroup">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Name</mat-label>-->
<!--            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
<!--          </mat-form-field>-->
<!--          <div>-->
<!--            <button mat-button matStepperNext>Next</button>-->
<!--          </div>-->
<!--        </form>-->
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Personal Trainer">
        <p>On {{selected_date.setLocale('en').toLocaleString(DateTime.DATE_MED)}} from 14:15 - 15:45, the following personal trainers are available:</p>
        <div class="trainer-cards-container">
          <app-trainer-card name="Jessy" [stepper]="stepper"></app-trainer-card>
          <app-trainer-card name="José" [stepper]="stepper"></app-trainer-card>
        </div>

<!--        <form [formGroup]="secondFormGroup">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Address</mat-label>-->
<!--            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"-->
<!--                   required>-->
<!--          </mat-form-field>-->
          <div class="trainer-buttons">
            <button mat-button matStepperPrevious color="primary">Change Time</button>
            <button mat-button mat-raised-button matStepperNext color="primary">Continue without a Trainer</button>
          </div>
<!--        </form>-->
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" label="Extras">
        <p>You can now add a friend to your booking and select further add-ons to our amenities like special nutrition.</p>
<!--        <form [formGroup]="thirdFormGroup">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Phone number</mat-label>-->
<!--            <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>-->
<!--          </mat-form-field>-->
<!--        </form>-->
        <p>No extras available.</p>
        <div class="extras-buttons">
          <button mat-button matStepperPrevious color="primary">Back</button>
          <button mat-button matStepperNext mat-raised-button color="primary">Review Booking</button>
        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <p>You are about to book the Fortis <b>BERLIN CITY CENTER</b> on {{selected_date.setLocale('en').toLocaleString(DateTime.DATE_MED)}} from 14:15 - 15:45.</p>
        <p>You will be joined by our personal trainer <b>Jessy</b> and your friend <b>Mark</b></p>
        <p>Your payment method (**** **** **** *324) will be charged a total of <b>32.45€</b>.</p>

        <div class="extras-buttons">
          <button mat-button matStepperPrevious color="primary">Back</button>
          <a mat-button routerLink="/home" mat-raised-button color="primary">Confirm Booking</a>
<!--          TODO: Great Confirmation / Success Page once confirmed -->
<!--          TODO: Show cancellation policy -->
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
