<mat-card>
  <mat-card-content>
    <img class="trainer-image" ngSrc="https://placecats.com/100/100/?sports+coach" alt="Photo of a Trainer"
         height="100" width="100">

    <div class="name">{{name}}</div>

    Specializations:
    <ul>
      <li>Yoga</li>
      <li>Core Strength</li>
    </ul>

    <mat-divider class="divider-with-margin"></mat-divider>
    <mat-card-actions align="end">
      <a *ngIf="primary" mat-button (click)="stepper?.next()" mat-raised-button color="primary"> Book Trainer</a>
      <a *ngIf="!primary" mat-button (click)="stepper?.next()" mat-stroked-button color="primary"> Book Trainer</a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
