<div class="content_width_wrapper">
  <mat-card-title>Book a Personal Trainer</mat-card-title>
<!--  <p>This site is under construction!</p>-->
  <mat-stepper
    #stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">

    <mat-step [stepControl]="secondFormGroup" label="Personal Trainer">
      <p>Available personal trainers:</p>
      <div class="trainer-cards-container">
        <app-trainer-card name="Jessy" [stepper]="stepper" primary></app-trainer-card>
        <app-trainer-card name="José" [stepper]="stepper" primary></app-trainer-card>
      </div>

      <div class="trainer-buttons">
        <a mat-button color="primary" routerLink="/room" >Continue without a Trainer</a>
      </div>
      <!--        </form>-->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <p>You are about to invite personal trainer <b>Jessy</b> to your
        booking Fortis <b>BERLIN CITY CENTER</b> on {{DateTime.now().setLocale('en').toLocaleString(DateTime.DATE_MED)}} from 14:15 - 15:45.</p>
      <p>Your payment method (**** **** **** *324) will
        be charged an additional <b>32.45€</b>.</p>

      <div class="extras-buttons">
        <button mat-button matStepperPrevious color="primary">Back</button>
        <a mat-button routerLink="/home" mat-raised-button color="primary">Confirm Booking</a>
        <!--          TODO: Great Confirmation / Success Page once confirmed -->
        <!--          TODO: Show cancellation policy -->
      </div>
    </mat-step>
  </mat-stepper>
</div>
