<div class="content_width_wrapper">
  <div class="welcome">
    <div>
      <p><mat-card-title>Good Morning {{get_firstname()}}!</mat-card-title></p>
      <p><mat-card-subtitle>Your upcoming bookings:</mat-card-subtitle></p>
    </div>
    <button aria-label="Example icon-button with a bell icon" mat-icon-button class="notification-button"  (click)="openNotifications()" matTooltip="Notifications">
      <mat-icon matBadge="1" matBadgeColor="accent"  >notifications</mat-icon>
    </button>
  </div>
</div>
  <div class="bookings">
    <app-booking-card name="GYMBOX Berlin" description="City Center" [ongoing]="true" [date]="DateTime.now().minus({ minutes: 32 })"
                      [duration]="Duration.fromObject({minutes: 90})" course="Make you sweat core workout" coach="Jessy"></app-booking-card>
    <app-booking-card  *ngFor="let number of [1,2,3]" [date]="DateTime.now().plus({ days: number, hours: number*2 })" name="GYMBOX Berlin"
                       description="City Center" course="Relaxmax Yoga" coach="José"></app-booking-card>
  </div>
<div class="content_width_wrapper">
  <mat-card-actions class="workout-from-home">
    <mat-card-subtitle>Want to start right away?</mat-card-subtitle>
    <button mat-button mat-stroked-button routerLink="/room">
      Workout from Home
      <fa-icon [icon]="faAngleRight" class="caret_icon"></fa-icon>
    </button>
  </mat-card-actions>
  <p><mat-card-title>
    <ng-container *ngIf="gym_list_show_all === undefined">Available</ng-container>
    <ng-container *ngIf="gym_list_show_all === 'show_all'">All</ng-container>
    Gymboxes
  </mat-card-title></p>
  <div class="list_filters">
    <mat-form-field appearance="fill">
      <mat-label>Sort list</mat-label>
      <mat-select [(value)]="gym_list_sorting">
        <mat-option value="nearby">Nearby</mat-option>
        <mat-option value="a_to_z">A-Z</mat-option>
        <mat-option value="price">Price</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-chip-listbox aria-label="Select to show all or only available gyms" [(ngModel)]="gym_list_show_all">
      <mat-chip-option value="show_all">Show All</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoading && gyms.length === 0">
  </mat-progress-bar>

  <div *ngIf="!isLoading && gyms.length === 0">

    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Connection Error</mat-card-subtitle>
        <mat-card-title>Could not connect to GYMBOX database</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Please view the contents of the other pages of this app.</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button color="primary" (click)="loadGyms()">
          RETRY
        </button>
      </mat-card-actions>
    </mat-card>
    <h3 style="padding-top: 12px">Offline List of nearby Gyms:</h3>
    <app-gym-card *ngFor="let number of [0,1]" name="GYMBOX BERLIN" description="12€"></app-gym-card>

  </div>

  <app-gym-card *ngFor="let gym of gyms" [name]="gym.name" description="{{gym.price}} $/ {{gym.quantity}}"></app-gym-card>

</div>
