<div class="room-container">

  <div class="content_width_wrapper">
    <mat-card *ngIf="showGettingStarted" class="getting-started-card">
      <div class="header">
        <div>
          <mat-card-title>Your Reservation is starting soon!</mat-card-title>
<!--          <mat-card-subtitle><b>Welcome!</b> Your reservation starts at <fa-icon [icon]="faClock"></fa-icon><b>12:30</b>.</mat-card-subtitle>-->
          <mat-card-subtitle>The door can be opened 5 minutes before booking</mat-card-subtitle>
        </div>
        <button aria-label="Example icon-button with a close icon" mat-icon-button
                class="close-button" matTooltip="Close" (click)="showGettingStarted=false">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-card-content>
        <div class="steps">
          <div class="step">
            <mat-card-title>1) Arrive</mat-card-title>
            <app-icon-list>
              <app-icon-list-item [icon]="faClock" name="12:30" description="Today"></app-icon-list-item>
              <app-icon-list-item [icon]="faLocationPin" description="City Center"
                                  name="FORTIS BERLIN"></app-icon-list-item>
            </app-icon-list>
<!--            <p><fa-icon [icon]="faClock"></fa-icon><b>12:30</b></p>-->
<!--            <fa-icon [icon]="faLocationPin"></fa-icon> <b>FORTIS BERLIN</b> <i> City Center</i>-->
            <img src="https://i.imgur.com/ftFejkw.png"/>
          </div>
          <div class="step">
            <mat-card-title>2) Unlock</mat-card-title>
            Your <fa-icon [icon]="faLockOpen"></fa-icon> Door Unlock Code is:
            <code>5467</code>
            Please confirm with the <kbd>#</kbd> key.
          </div>
          <div class="step">
            <mat-card-title>3) Workout</mat-card-title>
<!--            Your personal coach-->
            <div class="user"><fa-icon [icon]="faUser"></fa-icon> <b> Jessy</b> </div>
            has confirmed your booking and will arrive on time.

          </div>
        </div>
      </mat-card-content>

    </mat-card>
    <h1>Your Reservation</h1>
    <mat-card class="room-details-card">
<!--      <mat-card-header>-->
<!--        <mat-card-title>Your Reservation</mat-card-title>-->
<!--      </mat-card-header>-->
      <img alt="Photo of a Gym" mat-card-image src="https://source.unsplash.com/1000x300/?gym">
      <mat-card-content>
        <app-icon-list>
          <app-icon-list-item [icon]="faLocationPin" description="City Center"
                              name="FORTIS BERLIN"></app-icon-list-item>
          <app-icon-list-item [icon]="faUser" name="Make you sweat core workout with Jessy"></app-icon-list-item>
          <app-icon-list-item [icon]="faClock" description="(73 minutes remaining)"
                              name="12:30 - 14:00"></app-icon-list-item>
        </app-icon-list>
        <mat-divider class="divider-with-margin"></mat-divider>
      </mat-card-content>
      <div>
        <!--      <div class="row-label">Room Booking Options</div>-->
        <div class="flat-button-row">
          <button color="primary" mat-stroked-button>Add Time
            <fa-icon [icon]="faAngleRight" class="caret_icon"></fa-icon>
          </button>
          <button mat-stroked-button routerLink="/book_trainer">
            Add Personal Trainer
            <fa-icon [icon]="faAngleRight" class="caret_icon"></fa-icon>
          </button>
          <button mat-stroked-button>Add Friends
            <fa-icon [icon]="faAngleRight" class="caret_icon"></fa-icon>
          </button>
        </div>
      </div>
    </mat-card>

  </div>

  <section class="sq-button-row-container">
    <div class="row-label">Smart Room Controls</div>
    <div class="sq-button-row">
      <mat-sq-button [icon]="faLightbulb" [popup]="LightsHelpComponent">
        Lights
      </mat-sq-button>
      <mat-sq-button [icon]="faFan" [popup]="ClimateHelpComponent">
        Climate Control
      </mat-sq-button>
      <mat-sq-button [icon]="faDoorOpen" [popup]="DoorHelpComponent">
        Unlock Door
      </mat-sq-button>
      <mat-sq-button [icon]="faPersonBooth" [popup]="BlindsHelpComponent">
        Window Blinds
      </mat-sq-button>
      <mat-sq-button [icon]="faVolumeHigh" (click)="openBottomSheet()">
        Music Speaker
      </mat-sq-button>
    </div>
  </section>


  <section class="sq-button-row-container">
    <div class="row-label">Equipment</div>
    <div class="sq-button-row">
      <mat-sq-button [icon]="faDumbbell" help_topic="help_dumbbells">
        Dumb&shy;bells
      </mat-sq-button>
      <mat-sq-button [icon]="faWeightHanging" help_topic="help_weights">
        Weights
      </mat-sq-button>
      <mat-sq-button [icon]="faPersonBiking" help_topic="help_bike">
        Bike
      </mat-sq-button>
      <mat-sq-button [icon]="faTarp" help_topic="help_yoga">
        Yoga Mat
      </mat-sq-button>
      <mat-sq-button [icon]="faRing" help_topic="help_bands">
        Resist&shy;ance Bands
      </mat-sq-button>
      <mat-sq-button [icon]="faPersonBiking" help_topic="help_treadmill">
        Treadmill
      </mat-sq-button>
      <mat-sq-button [icon]="faPersonBiking" help_topic="help_ellipctical">
        Elliptical
      </mat-sq-button>
<!--      <mat-sq-button [icon]="faPersonBiking" help_topic="help_unknown">-->
<!--        Unknown-->
<!--      </mat-sq-button>-->
    </div>
  </section>

  <section class="sq-button-row-container" id="amenities">
    <div class="row-label">Amenities</div>
    <div class="sq-button-row">
<!--      <ng-container *ngFor="let number of [0,1,2,3]">-->
        <mat-sq-button [icon]="faSheetPlastic" help_topic="help_towels">
          Towels
        </mat-sq-button>
        <mat-sq-button [icon]="faShower" help_topic="help_shower">
          Shower
        </mat-sq-button>
<!--        <mat-sq-button [icon]="faHotTubPerson" help_topic="help_sauna">-->
<!--          Sauna-->
<!--        </mat-sq-button>-->
<!--        <mat-sq-button [icon]="faBottleWater" help_topic="help_drinks">-->
<!--          Drinks-->
<!--        </mat-sq-button>-->
        <mat-sq-button [icon]="faVault" help_topic="help_lockers">
          Lockers
        </mat-sq-button>
        <mat-sq-button [icon]="faPersonBooth" help_topic="help_changing">
          Changing Room
        </mat-sq-button>
        <mat-sq-button [icon]="faFan" help_topic="help_hairdryer">
          Hair Dryer
        </mat-sq-button>
        <mat-sq-button [icon]="faPumpSoap" help_topic="help_toiletries">
          Toiletries
        </mat-sq-button>
        <mat-sq-button [icon]="faWheatAwn" help_topic="help_nutrition">
          Nutrition
        </mat-sq-button>
<!--      </ng-container>-->
    </div>
  </section>

<!--  <button (click)="toggleWorkoutTools()" color="primary" mat-stroked-button>-->
<!--    Open Workout Tools-->
<!--    <fa-icon [icon]="faAngleRight" class="caret_icon"></fa-icon>-->
<!--  </button>-->


</div>
<div class="media-player-container">
  <div class="media-player-wrapper mat-elevation-z2" (click)="openBottomSheet()">
    <div class="media-player-row">
      <div matRipple  class="mat-ripple-dummy"></div>
      <img height="300" ngSrc="assets/albumcover.jpg" width="300" alt="album cover"/>
      <div class="title-wrapper">
        <mat-card-title>Hold Me Like a Grudge</mat-card-title>
        <mat-card-subtitle>Fall Out Boy</mat-card-subtitle>
      </div>
      <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon small" mat-icon-button (click)="toggleMusicFav($event)">
        <mat-icon>{{musicIsFav ? "favorite": "favorite_border"}}</mat-icon>
      </button>
      <button aria-label="Example icon-button with menu icon" class="example-icon small" mat-icon-button (click)="toggleMusicPause($event)">
        <mat-icon>{{musicIsPaused ? "play_arrow": "pause"}}</mat-icon>
      </button>
    </div>
    <mat-progress-bar mode="determinate" [value]="musicProgress"></mat-progress-bar>
  </div>
</div>
