
.example-card {
  margin-bottom: var(--min-content-wrap-margin);
}

.row-label {
  font-size: 1rem;
  padding: 0 var(--min-content-wrap-margin) var(--min-content-wrap-margin);
}

.flat-button-row, .sq-button-row {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  padding-bottom: var(--min-content-wrap-margin);
}

.flat-button-row button {
  margin: 0 0.2rem;
  display: inline-block;
}

.flat-button-row button:first-of-type {
  margin-left: var(--min-content-wrap-margin);
}

.flat-button-row button {
  white-space: nowrap;
}

.sq-button-row-container {
  margin-bottom: var(--min-content-wrap-margin);
}

mat-sq-button:first-of-type {
  margin-left: var(--min-content-wrap-margin);
}

mat-card-content {
  margin-top: var(--min-content-wrap-margin);
}

mat-card-content > mat-divider.divider-with-margin {
  margin-top: var(--min-content-wrap-margin);
  margin-bottom: var(--min-content-wrap-margin);
}

.media-player-container {
  position: fixed;
  bottom: 70px;
  z-index: 5;
  width: 100%;
  left: 0;
}

.room-container {
  padding-bottom: calc(70px + var(--min-content-wrap-margin));
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: calc(100% - 3 * var(--min-content-wrap-margin));
  max-width: var(--max-content-width);
  overflow-x: auto;
  overflow-y: hidden;
}

mat-toolbar button {
  flex-shrink: 0;
}
