<div class="room-container">

<div class="content_width_wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Your GYMBOX</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://source.unsplash.com/1000x300/?gym" alt="Photo of a Gym">
    <mat-card-content>
      <ul class="icon_list">
        <li>
          <fa-icon [icon]="faLocationPin"></fa-icon>
          <span><b>GYMBOX BERLIN</b><i>City Center</i></span>
        </li>
        <li>
          <fa-icon [icon]="faUser"></fa-icon>
          <span><b>Make you sweat core workout with Jessy</b></span>
        </li>
        <li>
          <fa-icon [icon]="faClock"></fa-icon>
          <span><b>12:30 - 14:00</b><i>(73 minutes remaining)</i></span>
        </li>
      </ul>

      <mat-divider class="divider-with-margin"></mat-divider>
    </mat-card-content>
    <div>
      <div class="row-label">Room Booking Options</div>
      <div class="flat-button-row">
        <button mat-stroked-button color="primary">Add Time
          <fa-icon [icon]="faAngleRight" class="caret_icon"></fa-icon>
        </button>
        <button mat-stroked-button>Add Personal Trainer
          <fa-icon [icon]="faAngleRight" class="caret_icon"></fa-icon>
        </button>
        <button mat-stroked-button>Add Friends
          <fa-icon [icon]="faAngleRight" class="caret_icon"></fa-icon>
        </button>
      </div>
    </div>
  </mat-card>

</div>

<section class="sq-button-row-container">
  <div class="row-label">Smart Controls</div>
  <div class="sq-button-row">
    <mat-sq-button [icon]="faLightbulb" [popup]="LightsHelpComponent">
      Lights
    </mat-sq-button>
    <mat-sq-button [icon]="faPersonBooth" [popup]="BlindsHelpComponent">
      Window Blinds
    </mat-sq-button>
    <mat-sq-button [icon]="faFan" [popup]="ClimateHelpComponent">
      Climate Control
    </mat-sq-button>
    <mat-sq-button [icon]="faDoorOpen" [popup]="DoorHelpComponent">
      Unlock Door
    </mat-sq-button>
  </div>
</section>


<section class="sq-button-row-container">
  <div class="row-label">Equipment</div>
  <div class="sq-button-row">
    <mat-sq-button [icon]="faDumbbell" help_topic="help_dumbbells">
      Dumb&shy;bells
    </mat-sq-button>
    <mat-sq-button [icon]="faWeightHanging" help_topic="help_weights">
      Weights
    </mat-sq-button>
    <mat-sq-button [icon]="faPersonBiking" help_topic="help_bike">
      Bike
    </mat-sq-button>
    <mat-sq-button [icon]="faPersonBiking" help_topic="help_unknown">
      Unknown
    </mat-sq-button>
  </div>
</section>

<section class="sq-button-row-container">
  <div class="row-label">Amenities</div>
  <div class="sq-button-row">
    <ng-container *ngFor="let number of [0,1,2,3]">
      <mat-sq-button [icon]="faSheetPlastic" help_topic="help_towels">
        Towels
      </mat-sq-button>
      <mat-sq-button [icon]="faShower" help_topic="help_shower">
        Shower
      </mat-sq-button>
      <mat-sq-button [icon]="faHotTubPerson" help_topic="help_sauna">
        Sauna
      </mat-sq-button>
      <mat-sq-button [icon]="faBottleWater" help_topic="help_drinks">
        Drinks
      </mat-sq-button>
    </ng-container>
  </div>
</section>

<button mat-stroked-button color="primary" (click)="toggleWorkoutTools()">
  Open Workout Tools
  <fa-icon [icon]="faAngleRight" class="caret_icon"></fa-icon>
</button>


</div>
<div class="media-player-container">
  <mat-toolbar class="mat-elevation-z2">
    <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
      <mat-icon>play_circle_filled</mat-icon>
    </button>
    <span>Current Song...</span>
    <mat-slider>
      <input matSliderThumb>
    </mat-slider>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>
