/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  --max-content-width: 800px;
  --min-content-wrap-margin: 1rem;
  --top-toolbar-height: 64px;
  --bot-toolbar-height: 48px;
}

.content_width_wrapper {
  width: calc(100% - 2 * var(--min-content-wrap-margin));
  margin: 0 auto;
}
.content_width_wrapper:first-of-type {
  margin-top: var(--min-content-wrap-margin);
}
.content_width_wrapper.small {
  max-width: 500px;
}
.cdk-global-scrollblock {
  overflow: auto;
}

@media(max-width: 599.98px) {
  * {
    --top-toolbar-height: 56px;
  }
}
